assuming all these characteristics are positives. if a negative, then 0 and 5 scale should be reversed.

define what it is for an instance of something to be "best". hegel - whisky and philosophy

In [1]:
import pandas as pd

In [2]:
file_name = 'whiskies.txt'

In [3]:
df = pd.read_csv(file_name)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 17 columns):
RowID         86 non-null int64
Distillery    86 non-null object
Body          86 non-null int64
Sweetness     86 non-null int64
Smoky         86 non-null int64
Medicinal     86 non-null int64
Tobacco       86 non-null int64
Honey         86 non-null int64
Spicy         86 non-null int64
Winey         86 non-null int64
Nutty         86 non-null int64
Malty         86 non-null int64
Fruity        86 non-null int64
Floral        86 non-null int64
Postcode      86 non-null object
 Latitude     86 non-null int64
 Longitude    86 non-null int64
dtypes: int64(15), object(2)
memory usage: 11.5+ KB

In [5]:
df.head()

,RowID,Distillery,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude
0,1,Aberfeldy,2,2,2,0,0,2,1,2,2,2,2,2,\tPH15 2EB,286580,749680
1,2,Aberlour,3,3,1,0,0,4,3,2,2,3,3,2,\tAB38 9PJ,326340,842570
2,3,AnCnoc,1,3,2,0,0,2,0,0,2,2,3,2,\tAB5 5LI,352960,839320
3,4,Ardbeg,4,1,4,4,0,0,2,0,1,2,1,0,\tPA42 7EB,141560,646220
4,5,Ardmore,2,2,2,0,0,1,1,1,2,3,1,1,\tAB54 4NH,355350,829140

the rating system is mean divided by standard of score across category

In [11]:
df = df.loc[:, 'Distillery':'Floral']
df = df.set_index('Distillery')
df.head()

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral
Distillery,,,,,,,,,,,,
Aberfeldy,2,2,2,0,0,2,1,2,2,2,2,2
Aberlour,3,3,1,0,0,4,3,2,2,3,3,2
AnCnoc,1,3,2,0,0,2,0,0,2,2,3,2
Ardbeg,4,1,4,4,0,0,2,0,1,2,1,0
Ardmore,2,2,2,0,0,1,1,1,2,3,1,1

In [15]:
df['Mean'] = df.mean(axis=1)
df['Std'] = df.std(axis=1)
df['Score'] = df['Mean']/df['Std']

In [22]:
df_by_score = df.sort_values(by='Score', ascending=False)
df_by_mean = df.sort_values(by='Mean', ascending=False)
df_by_std = df.sort_values(by='Std', ascending=False)

In [31]:
df_by_score

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Mean,Std,Score
Distillery,,,,,,,,,,,,,,,
Bruichladdich,1,1,2,2,0,2,2,1,2,2,2,2,1.583333,0.640095,2.473589
OldPulteney,2,1,2,2,1,0,1,1,2,2,2,2,1.500000,0.645497,2.323790
Scapa,2,2,1,1,0,2,1,1,2,2,2,2,1.500000,0.645497,2.323790
Aberfeldy,2,2,2,0,0,2,1,2,2,2,2,2,1.583333,0.759203,2.085521
BlairAthol,2,2,2,0,0,1,2,2,2,2,2,2,1.583333,0.759203,2.085521
Benromach,2,2,2,0,0,2,2,1,2,2,2,2,1.583333,0.759203,2.085521
Bowmore,2,2,3,1,0,2,2,1,1,1,1,2,1.500000,0.763763,1.963961
OldFettercairn,1,2,2,0,1,2,2,1,2,3,1,1,1.500000,0.763763,1.963961
Dalmore,3,2,2,1,0,1,2,2,1,2,3,1,1.666667,0.849837,1.961161
RoyalBrackla,2,3,2,1,1,1,2,1,0,2,3,2,1.666667,0.849837,1.961161
Craigallechie,2,2,2,0,1,2,2,1,2,2,1,4,1.750000,0.924211,1.893506
RoyalLochnagar,3,2,2,0,0,2,2,2,2,2,3,1,1.750000,0.924211,1.893506
Springbank,2,2,2,2,0,2,2,1,2,1,0,1,1.416667,0.759203,1.865992
Highland Park,2,2,3,1,0,2,1,1,1,2,1,1,1.416667,0.759203,1.865992
Strathisla,2,2,1,0,0,2,2,2,3,3,3,2,1.833333,0.986013,1.859339
Mortlach,3,2,2,0,0,2,3,3,2,1,2,2,1.833333,0.986013,1.859339
Glenturret,2,3,1,0,0,2,2,2,2,2,1,2,1.583333,0.862007,1.836799
GlenScotia,2,2,2,2,0,1,0,1,2,2,1,1,1.333333,0.745356,1.788854
Glenmorangie,2,2,1,1,0,1,2,0,2,1,2,2,1.333333,0.745356,1.788854
Bunnahabhain,1,2,1,1,0,1,1,1,1,2,2,3,1.333333,0.745356,1.788854
Aberlour,3,3,1,0,0,4,3,2,2,3,3,2,2.166667,1.213352,1.785687
Glenlivet,2,3,1,0,0,2,2,2,1,2,2,3,1.666667,0.942809,1.767767
Auchroisk,2,3,1,0,0,2,1,2,2,2,2,1,1.500000,0.866025,1.732051
Knochando,2,3,1,0,0,2,2,1,2,1,2,2,1.500000,0.866025,1.732051
Loch Lomond,1,1,1,1,0,1,1,0,1,2,1,2,1.000000,0.577350,1.732051
Benrinnes,3,2,2,0,0,3,1,1,2,3,2,2,1.750000,1.010363,1.732051
Isle of Jura,2,1,2,2,0,1,1,0,2,1,1,1,1.166667,0.687184,1.697749
Mannochmore,2,1,1,0,0,1,1,1,2,1,2,2,1.166667,0.687184,1.697749
Glendullan,3,2,1,0,0,2,1,2,1,2,3,2,1.583333,0.953794,1.660038
GlenOrd,3,2,1,0,0,1,2,1,1,2,2,2,1.416667,0.862007,1.643452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Glengoyne,1,2,0,0,0,1,1,1,2,2,3,2,1.250000,0.924211,1.352504
Glenrothes,2,3,1,0,0,1,1,2,1,2,2,0,1.250000,0.924211,1.352504
Glendronach,4,2,2,0,0,2,1,4,2,2,2,0,1.750000,1.299038,1.347151
Talisker,4,2,3,3,0,1,3,0,1,2,2,0,1.750000,1.299038,1.347151
Balmenach,4,3,2,0,0,2,1,3,3,0,1,2,1.750000,1.299038,1.347151
Clynelish,3,2,3,3,1,0,2,0,1,1,2,0,1.500000,1.118034,1.341641
Caol Ila,3,1,4,2,1,0,2,0,2,1,1,1,1.500000,1.118034,1.341641
Glenallachie,1,3,1,0,0,1,1,0,1,2,2,2,1.166667,0.897527,1.299867
Aultmore,2,2,1,0,0,1,0,0,2,2,2,2,1.166667,0.897527,1.299867
Linkwood,2,3,1,0,0,1,1,2,0,1,3,2,1.333333,1.027402,1.297771
Benriach,2,2,1,0,0,2,2,0,0,2,3,2,1.333333,1.027402,1.297771
AnCnoc,1,3,2,0,0,2,0,0,2,2,3,2,1.416667,1.114924,1.270640
Glenkinchie,1,2,1,0,0,1,2,0,0,2,2,2,1.083333,0.862007,1.256757
GlenGrant,1,2,0,0,0,1,0,1,2,1,2,1,0.916667,0.759203,1.207407
Tobermory,1,1,1,0,0,1,0,0,1,2,2,2,0.916667,0.759203,1.207407
Tamnavulin,1,3,2,0,0,0,2,0,2,1,2,3,1.333333,1.105542,1.206045
Strathmill,2,3,1,0,0,0,2,0,2,1,3,2,1.333333,1.105542,1.206045
GlenGarioch,2,1,3,0,0,0,3,1,0,2,2,2,1.333333,1.105542,1.206045
Dufftown,2,3,1,1,0,0,0,0,1,2,2,2,1.166667,0.986013,1.183216
Lagavulin,4,1,4,4,1,0,1,2,1,1,1,0,1.666667,1.433721,1.162476
Teaninich,2,2,2,1,0,0,2,0,0,0,2,2,1.083333,0.953794,1.135815
Bladnoch,1,2,1,0,0,0,1,1,0,2,2,3,1.083333,0.953794,1.135815
GlenSpey,1,3,1,0,0,0,1,1,1,2,0,2,1.000000,0.912871,1.095445
Speyburn,2,4,1,0,0,2,1,0,0,2,1,2,1.250000,1.163687,1.074172
Tormore,2,2,1,0,0,1,0,1,2,1,0,0,0.833333,0.799305,1.042572
Auchentoshan,0,2,0,0,0,1,1,0,2,2,3,3,1.166667,1.142609,1.021055
Miltonduff,2,4,1,0,0,1,0,0,2,1,1,2,1.166667,1.142609,1.021055
Ardbeg,4,1,4,4,0,0,2,0,1,2,1,0,1.583333,1.552328,1.019973
Laphroig,4,2,4,4,1,0,0,1,1,1,0,0,1.500000,1.554563,0.964901
Glenfiddich,1,3,1,0,0,0,0,0,0,2,2,2,0.916667,1.037492,0.883541

In [32]:
df_by_mean.head()

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Mean,Std,Score
Distillery,,,,,,,,,,,,,,,
Aberlour,3,3,1,0,0,4,3,2,2,3,3,2,2.166667,1.213352,1.785687
Macallan,4,3,1,0,0,2,1,4,2,2,3,1,1.916667,1.320248,1.451747
Strathisla,2,2,1,0,0,2,2,2,3,3,3,2,1.833333,0.986013,1.859339
Mortlach,3,2,2,0,0,2,3,3,2,1,2,2,1.833333,0.986013,1.859339
Glenfarclas,2,4,1,0,0,1,2,3,2,3,2,2,1.833333,1.142609,1.604515

In [33]:
df.describe()

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Mean,Std,Score
count,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000
mean,2.069767,2.290698,1.534884,0.546512,0.116279,1.244186,1.383721,0.976744,1.465116,1.802326,1.802326,1.697674,1.410853,0.947881,1.527533
std,0.930410,0.717287,0.863613,0.990032,0.322439,0.853175,0.784686,0.932760,0.821730,0.629094,0.779438,0.855017,0.254306,0.194544,0.329456
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.833333,0.577350,0.883541
25%,2.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.250000,0.806768,1.299867
50%,2.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,1.375000,0.924211,1.485297
75%,2.000000,3.000000,2.000000,1.000000,0.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,1.583333,1.040833,1.758838
max,4.000000,4.000000,4.000000,4.000000,1.000000,4.000000,3.000000,4.000000,4.000000,3.000000,3.000000,4.000000,2.166667,1.554563,2.473589

top ranked scotches mapped. are the top scotches confined to a specific geographic region?

if ranking is not indicative of highest quality scotches, why might that be? essential component of flavor or something else missing? flavor classification is not? advertisment, quality is responsible for notierity of certain brands. our definition of "best" differs from how most judge whisky. for example, the smoky islay scotches won't be at the top of the list due to their extreme flavor profile, though interestingly the top ranked scotch is from islay, just not one of the smoky guys. notice this rating system is all about balance.